
# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
.venv/
venv/
ENV/

# Streamlit
.streamlit/secrets.toml

# IDE
.idea/
.vscode/
*.swp
.DS_Store

# Mac
.DS_Store

# Ignore raw checklists; use checklists_clean instead.
checklists/
checklists_parquet/
*.tar
*.parquet
*.csv
*.xlsx
breaker_version/sports_config.py
ToClean/convert_checklists.py
.gitignore
ToClean/parse_chronicles_2017.py
ToClean/parse_chronicles_2018.py

ToClean/parse_court_kings_2018.py
ToClean/parse_donruss_optic_2017.py
ToClean/parse_hoops_2018.py
ToClean/parse_prestige_2017.py
ToClean/parse_season_update_2010.py
